.bold {
    font-weight: bold;
}

.post {
    padding-bottom: 2%;
}

.postHeader {
    display: flex;
    align-items: center;
}

.profilePhoto {
    border-radius: 50%;
    width: 7%;
    margin: 2%;
}

.postPhoto {
    object-fit: cover;
    width: 100%;
}

.postItem {
    margin: 1%;
}

.postTimestamp {
    font-weight: bold;
    font-size: 75%;
    color: #a1a1a1;
    margin-top: 0;
}
