.bold {
    font-weight: bold;
}

.post {
    padding-bottom: 2%;
}

.postHeader {
    display: flex;
    align-items: center;
}

.profilePhoto {
    border-radius: 50%;
    width: 7%;
    margin: 2%;
}

.postPhoto {
    object-fit: cover;
    width: 100%;
}

.postItem {
    margin: 1%;
}

.commentButton {
    cursor: pointer;
}

.addComment {
    width: 98%;
    margin-top: 6px;
    margin-left: 1%;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    display: flex;
}
.addComment input {
    background: none;
    border: none;
    height: 16px;
    outline: none;
    font: inherit;
    padding: 0;
    width: 100%;
}
.addComment ::placeholder {
    color: #999;
}

.addComment button {
    color: #3897f0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.postTimestamp {
    font-weight: bold;
    font-size: 75%;
    color: #a1a1a1;
    margin-top: 0;
}
